
<section>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">#</th>
				<th scope="col">Character</th>
				<th scope="col">Comics</th>
				<th scope="col">Events</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">1</th>
				<td>Captain America</td>
				<td>Civil War(2006 - 2007)</td>
				<td>Civil War</td>
			</tr>
			<tr>
				<th scope="row">2</th>
				<td>Daredevil</td>
				<td>Born Again(1986)</td>
				<td>-</td>
			</tr>
			<tr>
				<th scope="row">3</th>
				<td>Punisher</td>
				<td>Born(2003)</td>
				<td>-</td>
			</tr>
		</tbody>
	</table>	
</section>
